@import url('https://fonts.googleapis.com/css2?family=Asap+Sharp:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
}

.header {
    background-color: blue;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    padding: 2em;
    color: white;
}

.header .ticket {
    background-color: green;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.header .menu-item {
    color: white;
}

.header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container {
    max-width: 600px;
    padding: 2em;
    margin: 0 auto;
}


.img {
    text-align: center;
    width: 400px;
    display: block;
}

.container .items {
    background-color: lightblue;
    padding: 2em;
    border: 2px solid red;
    border-radius: 8px;
    margin: 0;
}

.relative {
    position: relative;
}


.container .label {
        position: absolute;
    top: 2em;
    right: 2em;
    background: red;
}

.container .box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: green;
    padding: 2em;
    border: 3px dotted purple;
    border-radius: 50%;
}

.container .subtitle {
    text-align: center;
}

.btn {
        padding: 1.5em;
    display: inline-block;
    background: blue;
    border-radius: 8px;
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
}


.btn:hover {
    background: red;
}

.footer {
    text-align: center;
    background-color: green;
    color: white;
    height: 20vh;
}